.customer-list-wrapper {
    display:flex;
    justify-content: center;
    align-items:center;
    min-width:fit-content;
    min-height: 50vh;
    padding: 1em;
}

.customer-list-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1em;
    max-width:25rem;
    width:100%;
}

.customer-list {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:start;

    list-style-type:none;
    
    margin:0;
    padding:0;



    /* align-items:center; */
}